{{- $valuesYAML := "https://github.com/itscontained/secret-manager/blob/master/deploy/charts/secret-manager/values.yaml" -}}
{{- $chartRepo := "https://charts.itscontained.io" -}}
{{- $org := "itscontained" -}}
